.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 35px 0px 35px 0px;
}
h4 {
  margin-bottom: 5px;
}

img {
  width: 100px;
  border-radius: 100px;
  height: 100px;
  object-fit: cover;
}
p {
  img {
    width: 17px;
    height: auto;
    position: relative;
    left: 2px;
    top: 2px;
  }
}
