<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button slot="start" fill="clear" [routerLink]="['/ongoing-etric']"><ion-icon
          name="arrow-back-circle-outline"></ion-icon></ion-button>
      <ion-title class="font-color ion-padding-start ion-margin-start">
        <h1 class="ion-text-start ion-margin ion-padding-start">E-Tric Service</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">rate-driver</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>