.kerilogo {
  --width: 100px;
  --height: 100px;
  --margin-left: 50px;
}

.opaque-cover {
  background-color: #f5f5f5;
}

.img-wrapper {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.paper-bag-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: 0% 25%;
  filter: opacity(70%);
  filter: contrast(60%);
  border-radius: 10px;
}

.refer-friends-text {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
  color: #f5f5f5;
  font-weight: 550;
}

.refer-friends-button {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  margin-left: 80px;
  margin-top: 150px;
  font-size: 0.9rem;
  height: 50px;
  width: 220px;
}

.flash-button {
  --background: #f5f5f5;
  --color: #a11b1f;
  --border-style: solid;
  --border-width: 1px;
  --border-color: #a11b1f;
}
.margin-top {
  margin-top: 100px;
}

.margin-bot {
  margin-bottom: 50px;
}

.custom-border {
  --min-height: 0px;
}

ion-col > p {
  font-weight: bold;
  text-align: center;
}

.fake-slides {
  display: flex;
  max-height: 100%;
  overflow-x: auto;
  flex: 0 0 auto;
}
.fake-slides::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slides-page {
  width: 100%;
  height: 100%;
}
.slides-page ion-card {
  min-width: 250px; /* Set the minimum width based on your requirements */
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides-page ion-card-content {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
}

// ion-col {
//   background-color: #135d54;
//   border: solid 1px #fff;
//   color: #fff;
//   text-align: center;
// }
