<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center margin-bot margin-top">
      <ion-col size="3">
        <ion-img class="kerilogo" src="../../assets/icon/keri-logo_red.png" alt="keri logo">
        </ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-justify-content-evenly">
      <ion-col size="3">
        <ion-img src="../../assets/icon/padala.png" alt="motor logo">
        </ion-img>
        <p>Padala</p>
      </ion-col>
      <ion-col size="3" class="ion-align-items-center">
        <ion-img src="../../assets/icon/pabili.png" alt="grocery bag logo">
        </ion-img>
        <p>Pabili</p>
      </ion-col>
      <ion-col size="3">
        <ion-img src="../../assets/icon/papila.png" alt="document logo">
        </ion-img>
        <p>Papila</p>
      </ion-col>
      <ion-col size="3">
        <ion-button class="custom-button" [routerLink]="['/customer-booking']"><ion-img src="../../assets/e-trike.png"
            alt="e-bike logo">
          </ion-img></ion-button>
        <div class="new-box">
          <p>New!</p>
        </div>
        <p>E-Tric</p>
      </ion-col>
    </ion-row>
    <ion-item class="custom-border ion-no-margin ion-no-padding">
    </ion-item>

    <ion-row class="ion-justify-content-center ion-margin-bottom ion-margin-top">
      <ion-col size="11">
        <p style="text-align:left;">REFER FRIENDS - MAY FREE DELIVERY CREDITS KA </p>

        <div class="img-wrapper">
          <img class="paper-bag-img" src="../../assets/icon/paper-bag.jpg" alt="person holding a paper bag">
          <p class="refer-friends-text">Get Free<br>Delivery Credits</p>
          <ion-button class="refer-friends-button" shape="round" color="ref-button">REFER FRIENDS</ion-button>
        </div>

      </ion-col>
    </ion-row>

    <ion-item class="custom-border ion-no-margin ion-no-padding">
    </ion-item>

    <ion-row class="ion-justify-content-center ion-margin-bottom ion-margin-top">
      <ion-col size="11">
        <p style="text-align:left;">PABILI SA AMING PARTNER MALLS <span style="color: #a11b1f;"> &nbsp;Find Mall</span>
        </p>
        <p style="color: #a11b1f; text-align: center;">No available mall near you, click 'Find Mall' to see more!</p>

      </ion-col>
    </ion-row>

    <ion-item class="custom-border ion-no-margin ion-no-padding">

    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <p class="ion-no-margin ion-margin-top" style="text-align:left;">FROM THESE STORES <span
            style="color: #a11b1f;">
            &nbsp;Find
            Shop</span>
        </p>
        <div class="fake-slides">
          <div class="slides-page">
            <ion-card>
              <ion-card-content>
                <img src="../../assets/icon/yumix.png" />
              </ion-card-content>
            </ion-card>
          </div>
          <div class="slides-page">
            <ion-card>
              <ion-card-content>
                <img src="../../assets/icon/hachi.png" />
              </ion-card-content>
            </ion-card>
          </div>
          <div class="slides-page">
            <ion-card>
              <ion-card-content>
                <img src="../../assets/icon/tabenasai.png" />
              </ion-card-content>
            </ion-card>
          </div>
          <div class="slides-page">
            <ion-card>
              <ion-card-content>
                <img src="../../assets/icon/pizza.png" />
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="flash-button">
      <ion-icon name="flash-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>