ion-button {
  --background: #f5f5f5;
}

.font-color {
  color: #a11b1f;
}

.div-border {
  width: 100%;
  height: auto;
  border: solid;
  border-top-width: 8px;
  border-bottom-width: 8px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #e3e3e3;
}

.custom-card-padding {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 16px;
}

.custom-card-margin {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

ion-item {
  display: flex;
  justify-content: space-between;
  --inner-padding-end: 0px;
  position: relative;
}

ion-card-title {
  font-size: 1rem;
  padding-bottom: 5px;
}

.past-ion-card-content {
  margin-top: 0px;

  padding-top: 12px;
  padding-bottom: 12px;
}

.location-icon {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: -40px; /* Adjust this value based on your preference */
  transform: translateY(-50%); /* Center vertically */
  padding: 4px; /* Adjust padding based on your preference */
}

.pin-icon {
  z-index: 3;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: -43px;
  transform: translateY(-50%); /* Center vertically */
  padding: 4px; /* Adjust padding based on your preference */
  background: #ffffff;
}

.custom-ion-input-border {
  position: absolute;
  left: 10px;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #e6e36a;
  padding-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 90px;
}

ion-item {
  font-weight: bold;
}

.custom-ion-label-padding {
  padding-left: 10px !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-grow {
  display: flex;
  flex-grow: 3;
}

.label-text-custom {
  font-size: 0.8rem;
  font-weight: 550;
  color: black;
}

.custom-border {
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.custom-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.x-icon {
  padding-top: 4px;
  font-size: 20px;
}

.next-page-button {
  width: 100%;
  --background: #a11b1f;
  margin-top: 0px;
}

.custom-loading {
  --background: white;
}
